{% extends 'layout.html' %}
{% block title %}Políticas{% endblock %}
{% block content %}
<h1>Políticas</h1>
<p><a href="{{ url_for('policy.new') }}">Nova Política</a></p>
<ul>
  {% for policy in policies %}
  <li>
    <strong>{{ policy.name }}</strong>
    <p> Data criada: {{ policy.created_at }}</p>
    <form method="get" action="{{ url_for('policy.edit', policy_id=policy.id) }}" style="display: inline;">
      <button type="submit">Editar</button>
    </form>
    <form method="post" action="{{ url_for('policy.delete', policy_id=policy.id) }}" style="display: inline;">
      <button type="submit">apagar</button>
    </form>
  </li>
  {% else %}
  <li>Nenhuma política definida.</li>
  {% endfor %}
</ul>
{% endblock %}
