{% extends 'layout.html' %}
{% block title %}Política{% endblock %}
{% block content %}
<h1>{% if policy %}Editar{% else %}Nova{% endif %} Política</h1>
<form method="post">
  <label>Nome:<input type="text" name="name" value="{{ policy.name if policy else '' }}"></label><br>
  <label>Descrição:<br><textarea name="description">{{ policy.description if policy else '' }}</textarea></label><br>
  <label>Conteúdo:<br><textarea name="content">{{ policy.content if policy else '' }}</textarea></label><br>
  <button type="submit">Guardar</button>
</form>
{% endblock %}
