{% extends 'layout.html' %}
{% block title %}Políticas{% endblock %}

{% block content %}
<style>
  .new-policy-button {
    margin-bottom: 20px;
  }
</style>
<h1>Políticas</h1>
<button onClick="location.href='{{ url_for('policy.new') }}'" class="new-policy-button">Nova Política <i class="fas fa-plus"></i></button>

<div class="table-responsive" id="anomaliesTable">
  <table class="table-data">
    <thead>
      <tr>
        <th>Nome da Política</th>
      </tr>
    </thead>
    <tbody>
      {% for policy in policies %}
      <tr>
        <td>
          <strong>{{ policy.name }}</strong>
          <p>Data criada: {{ policy.created_at.strftime('%Y‑%m‑%d %H:%M:%S') }}</p>
          <form method="get" action="{{ url_for('policy.edit', policy_id=policy.id) }}" style="display: inline;">
            <button type="submit" class="table-button">Editar</button>
          </form>
          <form method="post" action="{{ url_for('policy.delete', policy_id=policy.id) }}" style="display: inline;">
            <button type="submit" class="table-button">Apagar</button>
          </form>
        </td>
      </tr>
      {% else %}
      <tr>
        <td>Nenhuma política definida.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
